:root {
  --dark__Mode-dark-blue: hsl(209, 23%, 22%);
  --dark__Mode-very-dark-blue: hsl(200, 15%, 8%);
  --light__Mode-very-dark-blue: hsl(207, 26%, 17%);
  --light__Mode-dark-gray: hsl(0, 0%, 52%);
  --light__Mode-light-gray: hsl(0, 0%, 96%);
  --both__Mode-white-color: hsl(0, 0%, 100%);

  --basic-space: 35px;
}

* {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.loading {
  font-size: 60px;
  position: absolute;
  left: 40%;
  top: 30%;
}

/* ShowList */
.cardList-container {
  width: 80%;
  margin: auto;
}

.countries-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-flow: wrap;
  justify-content: space-between;
}

.countries-list .list {
  margin: 40px 20px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: var(--basic-space);
  border-bottom: 2px solid var(--light__Mode-light-gray);
  -webkit-box-shadow: 1px 2px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 15px 3px rgba(0, 0, 0, 0.1);
}

.navbar button {
  border: none;
  background-color: transparent;
  font-size: 15px;
  margin-right: 10px;
}
.navbar button:hover {
  transform: scale(1.1);
}

/* Filter */
.filter-container {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  height: 120px;
  width: 100%;
}

.filter-container__form {
  background-color: var(--both__Mode-white-color);
  -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  width: 500px;
  height: 50px;
  margin-top: 50px;
  display: flex;
}

.filter-container__form button {
  background-color: transparent;
  border: none;
}

.filter-container__form i {
  font-size: 30px;
  margin: 10px;
}

.filter-container__form input {
  border: none;
  border-left: lightgray 1px solid;
  width: 90%;
  font-size: 18px;
}

.filter-container__filterSelect {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#filter {
  margin-right: 30px;
  padding: 10px 25px;
  border-radius: 6px;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.14);
}
#filter ::-ms-expand {
  display: none;
}
#filter option {
  border: none;
  border-radius: 6px;
  padding-top: 5px;
  -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.14);
}

#filter option:hover {
  background-color: var(--light__Mode-light-gray);
}

/* Dtail */
.allContainer {
  background-color: hsl(0, 0%, 98%);
}

.detail-btn {
  margin: 80px 0;
  font-size: 15px;
}

/* Detail - Country */
.detail-all {
  width: 80%;
  height: 70vh;
  margin: auto;
}
.detail-container {
  display: flex;
}

.detail-container img {
  width: 45%;
  height: 65%;
  /* padding-top: 45%; */
  /* margin: 50px; */
}

.detail-contents {
  margin: 50px 150px;
  list-style: none;
  font-family: "Times New Roman", Times, serif;
}

.detail-contents__title {
  font-size: 50px;
  margin: 20px;
}

.detail-contents__lists {
  font-size: 20px;
  display: flex;
}

.detail-contents__lists p {
  margin-bottom: 10px;
}

.detail-contents__list2 {
  margin-left: 100px;
}

.detail-contents__borders {
  font-size: 20px;
  margin-top: 10px;
}
